body{
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    /*width: 100%;*/
    background-image: linear-gradient(to right, rgb(243, 104, 153),rgb(241, 56, 93), rgb(223, 22, 55));
}
nav.menu-lateral{
    width: 70px;
    height: 100%;
    background-color: rgb(38, 21, 28);
    opacity: 0.8;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 rgb(223, 8, 79);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}
nav.menu-lateral:hover{
    width: 300px;

}
.btn-expandir{
    width: 100%;
    padding-left: 10px;
}
.btn-expandir > i{
    color: #fff;
    font-size: 26px;
    cursor: pointer;
}
ul{
    padding: 10px;
    height: 100%;
    list-style-type: none;
   
}
li{
    transition: .2s;
}
li:hover{
    background: rgb(213, 7, 103);
}
ul a{
    color: #fff;
    text-decoration: none;
    font-size: 23px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul a .txt-link{
    margin-left: 30px;
}
ul a .icon > i{
    font-size: 35px;
}

header{
    background-image: linear-gradient(to right,rgb(216, 59, 112),rgb(236, 32, 73),rgb(155, 4, 29));
    color: #edc3c3;
    text-align: center;
    padding: 2rem 0;
    width: 100%;
    margin-right: 10px;
    border-radius: 10px;
}

span.t1{
    font-size: 90px;
    margin: 10px;
    text-decoration-line: underline;
}
nav.menu-top{
    text-align: center;
    font-size: 30px;
    padding: 10px 0 1%;
    color: #f5eef0;
   
}
nav.menu-top > i{
    padding: 15px 4%;
    transition: .2s;
}
nav.menu-top > i:hover{
    transform: scale(1.5);
    color: #282222;
}

nav.menu-top >span:hover{
    transform: scale(1.5);
    color: #282222;
}


.lista-card{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5PX;
    row-gap: 5px;
    margin-top: 10px;
    transition: .2s;
    padding-left: 8%;
    background-color: #282222;
}



.card{
    /*border: 2px solid black;*/
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(8, 8, 7);
    background-color: #fcf9f9;
    align-items: center;
    transition: .3s;
    /*box-shadow: 7px 7px 9px rgb(46, 5, 13);*/
    /*margin: 10px;*/
}
.card:hover{
    transform: scale(1.05);
    
}
.valorCom{
    color: green;
    font-size: 20px;
    font-weight: bold;
}
.valorSem{
    color: red;
    font-size: 15px;
    text-decoration: line-through;
}

button{
    margin: 15px;
    font-size: 25px;
    background-color: #faf5f5;
    width: fit-content; 
    transition: .2s;
    border-radius: 10px;
    
}
button:hover{
    transform: scale(1.05);
}


.valorCo{
    color: green;
    font-size: 25px;
    font-weight: bold;

}


.valorSe{
    color: rgb(92, 4, 4);
    font-size: 20px;
    text-decoration: line-through;
}

footer{
    background-color: #282222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    margin-top: 50px;    

}
footer p{
    margin: 5px;
}

.velops{
    color: #fff;
    align-items: left;
    size: 30px;
}
.conteiner-main{
    display: block;
    align-content: center;
    align-self: center;
    align-items: center;
    
}

.conteiner{
    
    padding: 20px;
    margin-right: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    column-gap: 30px;
    max-width: 750px;

}
.plural{
    display: flex;
    width: auto;

   
}
.dados img{
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    outline-offset: 4px;
    min-height: 1px;
    transition: .2s;
}
.dados img:hover{
    transform: scale(1.05);
}

.dados h3{
    
    font-size: 50px;
    margin: 0;
}
.descrit{
    
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.valor{
    margin: 0;
    padding: 10px;
    height: 80px;
    width: 400px;
    display: flex;
    
    
}
.detalhes{
    width: 170px;
}
.detalhes h3{
    
    width: 500px;
    height: fit-content;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
}

.comprar{
    
    border-radius: 10px;
    margin: 5px;
    width: 105px;
    height: 50px;
}
nav.menu-baixo{
    text-align: center;
    font-size: 30px;
    padding: 10px 0 1%;
    color: #f0e4e6;
    border: 2px solid red;
    border-radius: 15px;
    margin-top: 10px;

}




    




